body {
  text-align: center;
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}

.lists {
  /*display: inline-block;*/
  padding-top: 0;
  width: 100%;
}

.todolist {
  float: left;
  display: inline-block;
  text-align: center;
  width: 250px;
  height: 400px;
}

.listHeader {
  /*position: absolute;*/
  height: 75px;
  border-style: solid;
  border-color: blue;
  margin-right: 5px;
  /*margin-bottom: 20px;*/
}

.listHeader section {
  font-size: 25px;
  height: 29px;
  color: red;
  /*position: absolute;*/
  top: 2px;
}

.editListName {
  height: 29px;
}

.edit {
  position: relative;
  left: -20px;
  bottom: 0;
  width: 4.5em;
  align-content: right;
}

.delete {
  position: relative;
  right: -20px;
  bottom: 0;
  width: 4.5em;
  align-content: right;
}

.deleteItem {
  /*position: relative;*/
  display: inline-block;
  /*right: -60px;*/
  width: 4.5em;
  align-content: right;
}

.countItem {
  color: gray;
}

.itemList {
  margin-top: 0px;
  width: 90.5%;
  height: 75%;
  overflow-y: auto;
  border-left: solid red;
  border-right: solid red;
  border-bottom: solid red; 
  padding-left: 5%;
}

.todo{
  /*position: relative;*/
  background-color: pink;
  text-align: left;
  padding-left: 8px;
  padding-top: 6px;
  width: 90%;
  height: 26px;
  margin-top: 12px;
}

.todo input {
  margin-right: 8px;
}

.todo div {
  display: inline-block;
  width: 58%;
  margin-right: 8px;
  overflow-x: auto;
}

.done{
  background-color: #a0a0a0;
  text-align: left;
  padding-left: 8px;
  padding-top: 6px;
  width: 90%;
  height: 26px;
  margin-top: 12px;
  color: #505050;
}

.done input{
  margin-right: 8px;
}

.done div {
  display: inline-block;
  width: 58%;
  margin-right: 8px;
  overflow-x: auto;
  text-decoration-line: line-through;
}
